{% load static %}
<!-- Driver.js for Tutorial -->
<link rel="stylesheet" href="{% static 'microsys/tutorial/css/main.css' %}"/>
<script src="{% static 'microsys/tutorial/js/driver.js' %}" nonce="{{ request.csp_nonce }}"></script>

<script nonce="{{ request.csp_nonce }}">
    window.TUT_STRINGS = {
        btn_next: "{{ MS_TRANS.tut_btn_next|escapejs }}",
        btn_prev: "{{ MS_TRANS.tut_btn_prev|escapejs }}",
        btn_skip: "{{ MS_TRANS.tut_btn_skip|escapejs }}",
        btn_finish: "{{ MS_TRANS.tut_btn_finish|escapejs }}",
        of: "{{ MS_TRANS.tut_of|escapejs }}",
        
        // Dashboard
        sidebar_title: "{{ MS_TRANS.tut_sidebar_title|escapejs }}",
        sidebar_desc: "{{ MS_TRANS.tut_sidebar_desc|escapejs }}",
        titlebar_title: "{{ MS_TRANS.tut_titlebar_title|escapejs }}",
        titlebar_desc: "{{ MS_TRANS.tut_titlebar_desc|escapejs }}",
        usermenu_title: "{{ MS_TRANS.tut_usermenu_title|escapejs }}",
        usermenu_desc: "{{ MS_TRANS.tut_usermenu_desc|escapejs }}",
        maincontent_title: "{{ MS_TRANS.tut_maincontent_title|escapejs }}",
        maincontent_desc: "{{ MS_TRANS.tut_maincontent_desc|escapejs }}",
        
        // Lists / Tables
        search_title: "{{ MS_TRANS.tut_search_title|escapejs }}",
        search_desc: "{{ MS_TRANS.tut_search_desc|escapejs }}",
        add_title: "{{ MS_TRANS.tut_add_title|escapejs }}",
        add_desc: "{{ MS_TRANS.tut_add_desc|escapejs }}",
        table_title: "{{ MS_TRANS.tut_table_title|escapejs }}",
        table_desc: "{{ MS_TRANS.tut_table_desc|escapejs }}",
        
        // Sections
        sections_list_title: "{{ MS_TRANS.tut_sections_list_title|escapejs }}",
        sections_list_desc: "{{ MS_TRANS.tut_sections_list_desc|escapejs }}",
        
        // Users
        users_roles_title: "{{ MS_TRANS.tut_users_roles_title|escapejs }}",
        users_roles_desc: "{{ MS_TRANS.tut_users_roles_desc|escapejs }}",
        users_row_title: "{{ MS_TRANS.tut_users_row_title|escapejs }}",
        users_row_desc: "{{ MS_TRANS.tut_users_row_desc|escapejs }}",
        users_add_btn_title: "{{ MS_TRANS.tut_users_add_btn_title|escapejs }}",
        users_add_btn_desc: "{{ MS_TRANS.tut_users_add_btn_desc|escapejs }}",
        users_scopes_title: "{{ MS_TRANS.tut_users_scopes_title|escapejs }}",
        users_scopes_desc: "{{ MS_TRANS.tut_users_scopes_desc|escapejs }}",
        
        // Logs
        logs_row_title: "{{ MS_TRANS.tut_logs_row_title|escapejs }}",
        logs_row_desc: "{{ MS_TRANS.tut_logs_row_desc|escapejs }}",
        
        // Profile
        profile_stats_title: "{{ MS_TRANS.tut_profile_stats_title|escapejs }}",
        profile_stats_desc: "{{ MS_TRANS.tut_profile_stats_desc|escapejs }}",
        profile_details_title: "{{ MS_TRANS.tut_profile_details_title|escapejs }}",
        profile_details_desc: "{{ MS_TRANS.tut_profile_details_desc|escapejs }}",
        profile_edit_title: "{{ MS_TRANS.tut_profile_edit_title|escapejs }}",
        profile_edit_desc: "{{ MS_TRANS.tut_profile_edit_desc|escapejs }}",
        profile_2fa_title: "{{ MS_TRANS.tut_profile_2fa_title|escapejs }}",
        profile_2fa_desc: "{{ MS_TRANS.tut_profile_2fa_desc|escapejs }}",
        profile_activity_title: "{{ MS_TRANS.tut_profile_activity_title|escapejs }}",
        profile_activity_desc: "{{ MS_TRANS.tut_profile_activity_desc|escapejs }}",
        
        // Options
        options_tabs_title: "{{ MS_TRANS.tut_options_tabs_title|escapejs }}",
        options_tabs_desc: "{{ MS_TRANS.tut_options_tabs_desc|escapejs }}",
        options_access_title: "{{ MS_TRANS.tut_options_access_title|escapejs }}",
        options_access_desc: "{{ MS_TRANS.tut_options_access_desc|escapejs }}",
        options_info_title: "{{ MS_TRANS.tut_options_info_title|escapejs }}",
        options_info_desc: "{{ MS_TRANS.tut_options_info_desc|escapejs }}",
        options_theme_title: "{{ MS_TRANS.tut_options_theme_title|escapejs }}",
        options_theme_desc: "{{ MS_TRANS.tut_options_theme_desc|escapejs }}",
        options_lang_title: "{{ MS_TRANS.tut_options_lang_title|escapejs }}",
        options_lang_desc: "{{ MS_TRANS.tut_options_lang_desc|escapejs }}",
        options_autofill_title: "{{ MS_TRANS.tut_options_autofill_title|escapejs }}",
        options_autofill_desc: "{{ MS_TRANS.tut_options_autofill_desc|escapejs }}",
    };
</script>

<script src="{% static 'microsys/tutorial/js/main.js' %}" nonce="{{ request.csp_nonce }}"></script>
