:root {
  --selection-bg: #dbdbdb;
  --selection-moz-bg: #dbdbdb;
  --left-bg: white;
  --left-shadow: rgba(0,0,0,0.03);
  --right-bg: #474745;
  --right-shadow: rgba(0,0,0,0.07);
  --right-text: #F1F1F2;
  --label-color: #c2c2c5;
  --input-text: #000000;
  --submit-color: #707075;
  --submit-focus: #575757;
  --submit-active: #4d4d4d;
  --gradient-start: #474745;
  --gradient-end: #a2a2a7;
}

::selection { background: var(--selection-bg); }
::-webkit-selection { background: var(--selection-bg); }
::-moz-selection { background: var(--selection-moz-bg); }

.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 15vh);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.container {
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.left {
  background: var(--left-bg);
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 60%;
  box-shadow: 0px 0px 10px 4px var(--left-shadow);
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 5%;
    width: 110%;
    max-height: 270px;
  }
}

.right {
  background: var(--right-bg);
  box-shadow: 0px 0px 20px 8px var(--right-shadow);
  color: var(--right-text);
  position: relative;
  width: 58%;
}

@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

svg {
  position: absolute;
  width: 320px;
}

path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 3;
  stroke-dasharray: 240 1386;
}

.form {
  margin: 35px 35px 35px 20px;
  position: absolute;
}

label {
  color: var(--label-color);
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: var(--input-text);
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

input::-moz-focus-inner { border: 0; }

#submit {
  color: var(--submit-color);
  margin-top: 40px;
  transition: color 300ms;
}

#submit:focus { color: var(--submit-focus); }
#submit:active { color: var(--submit-active); }

/* New Utility Classes for specific elements */
.login-input { font-size: 28px !important; }
.login-submit { font-size: 25px !important; }
.logo-img { width: 100%; }
